---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"form"> {
  name: string;
}

const { name, ...rest } = Astro.props;
const handledAttributes = ["data-netlify", "netlify", "netlify-honeypot"];

handledAttributes.forEach((attr) => {
  if (rest.hasOwnProperty(attr)) {
    console.warn(
      `The \`${attr}\` attribute is handled internally; ignoring value \`${rest[attr]}\``
    );
    delete rest[attr];
  }
});

if (rest.action && rest.action[0] !== "/") {
  throw new Error(
    "The `action` path must be relative to the site root and start with a `/`. See https://docs.netlify.com/forms/setup/#success-messages"
  );
}

const honeypotName = `hp-${Date.now()}`;
---

<form data-netlify="true" name={name} netlify-honeypot={honeypotName} {...rest}>
  <label>
    Don't fill this out if you're human:
    <input tabindex="-1" name={honeypotName} />
  </label>
  <slot />
</form>

<style>
  /* Would it be better to apply these styles inline? */
  label {
    display: none;
  }
</style>
